:root {
    --scroll-animation-duration: 0.2s;
}

* {
    font-family: var(--text-font), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--header-font), sans-serif;
    margin: 0;
    text-transform: uppercase;
}

body, main {
    margin: 0;
    padding: 0;
}

header, main, footer, article {
    -webkit-transition: height var(--scroll-animation-duration); /* Safari */
    transition: height var(--scroll-animation-duration);
    overflow-y: hidden;
}

header {
    background: var(--primary-color);
    color: var(--light-text-color);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    height: 78vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

footer {
    display: none;
    justify-content:flex-end;
    align-items: center;
    background: var(--accent-color);
    color: var(--secondary-color);
    height: 10vh;
    padding: 0 1vw;
}

header.scrolled {
    height: 6vh;
    border-bottom: 1px solid rgba(255,255,255,0.5)
}

article.scrolled {
    height: 90vh;
}

details {
    background: var(--accent-color);
    color: white;
    padding: 1vh 1vw;
    -webkit-transition: height var(--scroll-animation-duration); /* Safari */
    transition: height var(--scroll-animation-duration);
}


details:focus, summary:focus {
    outline: none;
}

label {
    display: none;
}
details > input {
    width: 70vw;
    padding: 1vh 1vw;
    border-radius: 10px;
    margin: 1vh 0;
    border: 2px solid white;
}
details > button {
    width: 24vw;
    background: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 1vh 1vw;
    border: 2px solid white;
    text-transform: uppercase;
}
section {
/*     margin: 0 1vw; */
/*     display: none; */
}

summary {
    text-transform: uppercase;
}

@media screen and (max-width: 405px) {
    details > input {
        width: calc(100% - 3vw);
    }
    details > button {
        width: 100%;
    }
}



ul#office-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
ul#office-list > li {
    background: var(--primary-color);
    color: var(--light-text-color);
    /* border-bottom: 1px solid white; */
    color: white;
}


#office-list-heading {
   display: flex;
   justify-content: center;
   margin: 2vh 0;
}

ul#office-list > li > ul {
    background: white;
    color: var(--text-color);
    display: flex;
    margin: 0;
    padding: 0;
} 

ul#office-list > li > ul > li {
    background: white;
    color: var(--text-color);
    display: flex;
    height: 8vh;
    align-items: center;
    width: 100vw;
}

.channels {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.party {
    min-width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-weight: 100;
}

.party.Republican {
    background: red;
    flex-grow: 1;
}

.office ul:not(:first-child) .party.Republican {
    border-top: 1px solid crimson; /* #DC143C */
}

.office ul:not(:first-child) .party.party.Democratic {
    border-top: 1px solid rgba(0,0,0,0.3);
}


.party.Democratic {
    background: blue;
}

.undefined {
    background: white;
}
.party:not(.Republican):not(.Democratic):not(.undefined) {
    background: green;
}

.name {
    width: 100%;
    text-align: center;
}

.channel {
    padding: 0 1vw;
}

.channel, .phone {
    text-indent: -10000px;
    width: 30px;
    background-repeat: no-repeat;
    height: 100%;
    /* width: 100%; */
}


.phone {
    background-attachment: fixed;
    background: url(../imgs/phone.svg) no-repeat center 100%;
    background-position: left;
    flex-shrink: 2;
}

.YouTube {
    background: url(../imgs/YouTube.svg) no-repeat center;
}


.Facebook {
    background: url(../imgs/Facebook.svg) no-repeat center;
}

.Twitter {
    background: url(../imgs/Twitter.svg) no-repeat center;
}

.GooglePlus {
    background: url(../imgs/GooglePlus.svg) no-repeat center;
}


.office-name {
    padding: 1.5vh 1vh;
    margin: 0;
}